<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Image Labeller</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
</head>
<body>

    {{{body}}}

</body>
</html>